<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Udemy</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li style="background-color: rgb(0, 225, 255);">{{name}}</li>
            <li><a href="/categories">Categories</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/auth/logout">Logout</a></li>
        </ul>
    </div>
</nav>